<%- include("partials/header"); -%>

<div class="container">
    <h1>About My Book Notes</h1>
    <br>
    <p>My Book Notes is a simple and convenient way to keep track of the books you've read. Whether you're an avid reader or just starting your reading journey, My Book Notes helps you organize your thoughts, rate your books, and remember important details about each book. </p>
        <br>
       <p>Our mission is to make reading more enjoyable and meaningful by providing a platform where you can easily manage your reading list and share your favorite books with others.</p>
        <br>
       <p> With My Book Notes, you can: </p>
       <li>Add new books to your reading list</li>
       <li>Rate books based on your enjoyment</li> 
       <li>Write notes and summaries for each book</li>
       <li>Keep track of the date you finished reading each book </li>
       <br>
       <p> Join us in celebrating the joy of reading and start using My Book Notes today! </p>
    </div>
<%- include("partials/footer"); -%>
